.box-header{
    display: flex;
    justify-content: space-between;
    background-color: #F0F0F0;
    padding: 10px 100px;
}

.box-content{
    margin: 20px 380px;
    border: 1px solid #A9A9A9;
    width: 500px;
    text-align: center;
    border-radius: 5px;
}

.box-footer{
    margin-top: 50px;
    text-align: center;
    background-color: #C4C4C4;
    padding: 10px 0;
}